:root {
    --primary-color: #65c3eb;
    --secondary-color: #2984c1;
    --bg-color: #0d1512;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
    transition-duration: 200ms; 
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding: 14px;
}

.darker-text {
    color: var(--secondary-color);
}

header, main {
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
}

p {
    font-size: 1.2em;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-red);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}
  
.nav-list {
    display: flex;
    margin-right: 2rem;
    list-style-type: none;
}

@media (max-width: 28.75em) {
    .nav {
        justify-content: center;
}
  
.nav-list {
    margin: 0 1rem;
}
}
  
.nav-list a {
    display: block;
    font-size: 1.2rem;
    padding: 2rem;
    color: var(--secondary-color);
}
  
.nav-list a:hover {
    background: var(--main-blue);
}

nav a {
    cursor: pointer;
    text-decoration: none;
}

nav a:hover {
    opacity: 0.5;
}

main, section, .maincontainer {
    display: flex;
    flex-direction: column;
}

main {
    gap: 64px; 
    padding-bottom: 64px;
}

section {
    gap: 48px;
}

.Name-container {
    gap: 8px;
}

.Stats-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 24px;
}

.img-container {
    border-radius: 100%;
    max-width: 114px;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-size: 0.9em;
}

.stats>div {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
}

.stats div i {
    font-size: 1.8em;
}

.stats div div {
    display: grid;
    place-items: center;
    min-width: 4px;
}

.projectcontainer {
    display: flex;
    flex-direction: column;
}

.header-text {
    margin-bottom: 12px;
}

.projectitem {
    display: flex;
    align-items: stretch;
    gap: 24px;
}

.projectitem div:first-child {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.projectitem>div:last-child {
    aspect-ratio: 16/9;
    max-width: 30%;
    overflow: hidden;
    border-radius: 8px;

}

.projectitem>div:last-child img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #fff;
}

.linkcontainer {
    display: flex;
    align-items: center;
    gap: 24px;
}

.linkitem {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    gap: 14px !important;
    text-decoration: none;
    color: var(--primary-color);
    cursor: pointer;
}

@media (min-width: 640px) {
    .Stats-container {
        flex-direction: row;
    }
    .stats {
        gap: 0px;
    }
    .Name-container {
        width: 80%;
        margin-right: auto;
    }
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 50vh;
    background: var(--main-gray);
}

.contact-section-header {
    font-size: 2.3rem;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 8rem;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.contact-details {
    font-size: 2rem;
    color: var(--secondary-color);
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
    text-decoration: none;
}
  
.contact-details:hover {
    transform: translateY(8px);
}

footer {
    margin: 100px auto;
    font-size: 1.6rem;
}